### 1. Write a Python program to convert kilometers to miles:
     # To convert Km to miles: formula= km*0.6213

In [2]:
Km= int(input(" Km :"))
print(" your total miles is :")
M= Km*0.62137   # M stands for miles
M

 Km :10
 your total miles is :

6.213699999999999

### 2.Write a Python program to convert Celsius to Fahrenheit:
      # to covert celsius to fahrenheit
      # formula= (1c *9/5)+32=33.8F

In [3]:
C= int(input(" celsius : "))
print(" celisus to fahrenheit is :")
F=(C*9)/5+32  # F is fahrenheit
F

 celsius : 28
 celisus to fahrenheit is :

82.4

### 3. Write a Python program to display calendar:

In [15]:
import calendar 

print(calendar.month(2020,11))

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [16]:
import calendar 

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

### 4. Write a Python program to solve quadratic equation :
       # let's consider quadratic equation : 8X**2+30X-27=0

In [17]:
X=int(input(" value of X :"))
#Q uadratic equation is :
print("Your Quadratic eq :")
Q=8*X**2+30*2-27
Q

 value of X :2
Your Quadratic eq :

65

### 5. Write a Python program to swap two variables without temp variable:

In [24]:
x=100
y=85
## Swapping the variables X and Y
x,y=y,x
print("value of X :",x)
print("value of Y :",y)

value of X : 85
value of Y : 100